In [ ]:
# Install required packages
!pip install pyenchant && sudo apt-get install python-enchant
!pip install afinn
!pip install langdetect

# Download spacy model
import spacy.cli
spacy.cli.download("en_core_web_lg")

# Import libraries used
import enchant
import unicodedata
from nltk.corpus import wordnet as wn
from nltk.corpus import sentiwordnet as swn
 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import spacy
import en_core_web_lg
import re
import nltk
from langdetect import detect
from langdetect import DetectorFactory
from langdetect import detect
import nltk
nltk.download('wordnet')
nltk.download('sentiwordnet')
nltk.download('vader_lexicon')
from afinn import Afinn
 
nlp = en_core_web_lg.load()
af = Afinn()
senti = SentimentIntensityAnalyzer()
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/My Drive/Thesis/")
!ls

Collecting pyenchant
  Downloading https://files.pythonhosted.org/packages/99/8c/bd224a5db562ac008edbfaf015f5d5c98ea13e745247cd4ab5fc5b683085/pyenchant-3.2.0-py3-none-any.whl (55kB)
     |████████████████████████████████| 61kB 3.7MB/s
Installing collected packages: pyenchant
Successfully installed pyenchant-3.2.0
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  aspell aspell-en dictionaries-common emacsen-common enchant hunspell-en-us
  libaspell15 libenchant1c2a libhunspell-1.6-0 libtext-iconv-perl
Suggested packages:
  aspell-doc spellutils wordlist hunspell openoffice.org-hunspell
  | openoffice.org-core libenchant-voikko python-gobject python-gtk2
  python-wxgtk3.0
The following NEW packages will be installed:
  aspell aspell-en dictionaries-common emacsen-common enchant hunspell-en-us
  libaspell15 libenchant1c2a libhunspell-1.6-0 libtext-iconv-perl
  python-enchant
0 upgraded, 11 newly installed, 0 to remove and 34 not upgraded.
Need to get 1,354 kB of archives.
After this operation, 5,584 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libtext-iconv-perl amd64 1.7-5build6 [13.0 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libaspell15 amd64 0.60.7~20110707-4ubuntu0.1 [309 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 emacsen-common all 2.0.8 [17.6 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 dictionaries-common all 1.27.2 [186 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 aspell amd64 0.60.7~20110707-4ubuntu0.1 [87.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 aspell-en all 2017.08.24-0-0.1 [298 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 hunspell-en-us all 1:2017.08.24 [168 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libhunspell-1.6-0 amd64 1.6.2-1 [154 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libenchant1c2a amd64 1.6.0-11.1 [64.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 enchant amd64 1.6.0-11.1 [12.2 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python-enchant all 2.0.0-1 [44.1 kB]
Fetched 1,354 kB in 1s (1,415 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 11.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libtext-iconv-perl.
(Reading database ... 160706 files and directories currently installed.)
Preparing to unpack .../00-libtext-iconv-perl_1.7-5build6_amd64.deb ...
Unpacking libtext-iconv-perl (1.7-5build6) ...
Selecting previously unselected package libaspell15:amd64.
Preparing to unpack .../01-libaspell15_0.60.7~20110707-4ubuntu0.1_amd64.deb ...
Unpacking libaspell15:amd64 (0.60.7~20110707-4ubuntu0.1) ...
Selecting previously unselected package emacsen-common.
Preparing to unpack .../02-emacsen-common_2.0.8_all.deb ...
Unpacking emacsen-common (2.0.8) ...
Selecting previously unselected package dictionaries-common.
Preparing to unpack .../03-dictionaries-common_1.27.2_all.deb ...
Adding 'diversion of /usr/share/dict/words to /usr/share/dict/words.pre-dictionaries-common by dictionaries-common'
Unpacking dictionaries-common (1.27.2) ...
Selecting previously unselected package aspell.
Preparing to unpack .../04-aspell_0.60.7~20110707-4ubuntu0.1_amd64.deb ...
Unpacking aspell (0.60.7~20110707-4ubuntu0.1) ...
Selecting previously unselected package aspell-en.
Preparing to unpack .../05-aspell-en_2017.08.24-0-0.1_all.deb ...
Unpacking aspell-en (2017.08.24-0-0.1) ...
Selecting previously unselected package hunspell-en-us.
Preparing to unpack .../06-hunspell-en-us_1%3a2017.08.24_all.deb ...
Unpacking hunspell-en-us (1:2017.08.24) ...
Selecting previously unselected package libhunspell-1.6-0:amd64.
Preparing to unpack .../07-libhunspell-1.6-0_1.6.2-1_amd64.deb ...
Unpacking libhunspell-1.6-0:amd64 (1.6.2-1) ...
Selecting previously unselected package libenchant1c2a:amd64.
Preparing to unpack .../08-libenchant1c2a_1.6.0-11.1_amd64.deb ...
Unpacking libenchant1c2a:amd64 (1.6.0-11.1) ...
Selecting previously unselected package enchant.
Preparing to unpack .../09-enchant_1.6.0-11.1_amd64.deb ...
Unpacking enchant (1.6.0-11.1) ...
Selecting previously unselected package python-enchant.
Preparing to unpack .../10-python-enchant_2.0.0-1_all.deb ...
Unpacking python-enchant (2.0.0-1) ...
Setting up libhunspell-1.6-0:amd64 (1.6.2-1) ...
Setting up libaspell15:amd64 (0.60.7~20110707-4ubuntu0.1) ...
Setting up emacsen-common (2.0.8) ...
Setting up libtext-iconv-perl (1.7-5build6) ...
Setting up dictionaries-common (1.27.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up aspell (0.60.7~20110707-4ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up hunspell-en-us (1:2017.08.24) ...
Setting up libenchant1c2a:amd64 (1.6.0-11.1) ...
Setting up python-enchant (2.0.0-1) ...
Setting up aspell-en (2017.08.24-0-0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up enchant (1.6.0-11.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for dictionaries-common (1.27.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
aspell-autobuildhash: processing: en [en-common].
aspell-autobuildhash: processing: en [en-variant_0].
aspell-autobuildhash: processing: en [en-variant_1].
aspell-autobuildhash: processing: en [en-variant_2].
aspell-autobuildhash: processing: en [en-w_accents-only].
aspell-autobuildhash: processing: en [en-wo_accents-only].
aspell-autobuildhash: processing: en [en_AU-variant_0].
aspell-autobuildhash: processing: en [en_AU-variant_1].
aspell-autobuildhash: processing: en [en_AU-w_accents-only].
aspell-autobuildhash: processing: en [en_AU-wo_accents-only].
aspell-autobuildhash: processing: en [en_CA-variant_0].
aspell-autobuildhash: processing: en [en_CA-variant_1].
aspell-autobuildhash: processing: en [en_CA-w_accents-only].
aspell-autobuildhash: processing: en [en_CA-wo_accents-only].
aspell-autobuildhash: processing: en [en_GB-ise-w_accents-only].
aspell-autobuildhash: processing: en [en_GB-ise-wo_accents-only].
aspell-autobuildhash: processing: en [en_GB-ize-w_accents-only].
aspell-autobuildhash: processing: en [en_GB-ize-wo_accents-only].
aspell-autobuildhash: processing: en [en_GB-variant_0].
aspell-autobuildhash: processing: en [en_GB-variant_1].
aspell-autobuildhash: processing: en [en_US-w_accents-only].
aspell-autobuildhash: processing: en [en_US-wo_accents-only].
Collecting afinn
  Downloading https://files.pythonhosted.org/packages/86/e5/ffbb7ee3cca21ac6d310ac01944fb163c20030b45bda25421d725d8a859a/afinn-0.1.tar.gz (52kB)
     |████████████████████████████████| 61kB 3.9MB/s
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py) ... done
  Created wheel for afinn: filename=afinn-0.1-cp37-none-any.whl size=53451 sha256=d34c31bc273a10c10870d1045eae2d5e3dfce7b8e10dad0d38edd18c7c9ab2bc
  Stored in directory: /root/.cache/pip/wheels/b5/1c/de/428301f3333ca509dcf20ff358690eb23a1388fbcbbde008b2
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
Mounted at /content/drive
 Archive			    rfe_grid.csv
 cleaned_reviews_data_lang.csv	    Ridge_grid2.csv
 cleaned_reviews_data.pickle	    Ridge_grid.csv
 cleaned_reviews_en.csv		    Sample_2.ipynb
 cleaned_reviews_en_lemma.csv	    Sample.ipynb
 clustered_data.pickle		    score_pd
'clustered location.ipynb'	    SentimentAnalysis_2.ipynb
 complete_data_merged.csv	   'SENTIMENT ANALYSIS FINAL.ipynb'
'Cópia de cleaned_reviews_en.csv'   single_character_pd
'Cópia de Sample.ipynb'		    spell_pd
'JOIN SENTIMENT.ipynb'		    SVR_grid2.csv
 Linear_grid2.csv		    SVR_grid.csv
 Linear_grid.csv		   'Text Pre-Processing.ipynb'
 listings.csv			    Untitled0.ipynb
 listings.csv.gz		    Untitled1.ipynb
 model.png			    words_df.pickle
 negative-words.txt		    words_pd
 new_listings.csv		    x_data.pickle
 new_listings.pickle		    XGB_grid2.csv
 positive-words.txt		    XGB_grid.csv
 preprocessed_reviews.csv	    Xinana.ipynb
'Price pred MODELS.ipynb'	    xridgegrid.csv
 review_.pickle			    x_without_sentiment.pickle
 reviews_detailed.csv		    y_data.pickle
 review_with_polarity.pickle

Some important guides used:

https://towardsdatascience.com/aspect-based-sentiment-analysis-using-spacy-textblob-4c8de3e0d2b9

https://intellica-ai.medium.com/aspect-based-sentiment-analysis-everything-you-wanted-to-know-1be41572e238

# Load Data

In [ ]:
with open('reviews_detailed.csv') as f:
    reviews_data = pd.read_csv(f)
f.close()

In [ ]:
# To test the code with a sample (comment to run on full dataset)
#reviews_data=reviews_data.sample(frac=0.001, replace=True, random_state=1)

# Data Preparation

[https://www.kdnuggets.com/2018/08/practitioners-guide-processing-understanding-text-2.html](https://www.kdnuggets.com/2018/08/practitioners-guide-processing-understanding-text-2.html)

https://towardsdatascience.com/preprocessing-text-data-using-python-576206753c28

In [ ]:
# Drop columns 'date', 'reviewer_Id', 'reviewer_name'
reviews_data.drop(['date', 'reviewer_id', 'reviewer_name'], axis = 1, inplace=True)
reviews_data.head()

        listing_id  ...                                           comments
128037     4413032  ...  We stayed a great weekend at Eric and Karen’s ...
267336    14170174  ...  Anouk's home is a lovely apartment situated on...
312201    17875133  ...  Leentje a été très réactive lors de mes questi...
371403    23165393  ...  Very lovely flat with a nice garden.\nGood loc...
73349      1723551  ...  Die Unterkunft liegt zentru (Hidden by Airbnb)...

[5 rows x 3 columns]

In [ ]:
# Examine missing values:
for col in reviews_data.columns:
    print(col, reviews_data[col].isnull().sum())

listing_id 0
id 0
comments 0

In [ ]:
# Drop rows that have no comments
cleaned_reviews_data = reviews_data[reviews_data['comments'].notnull()]
for col in cleaned_reviews_data.columns:
    print(col, cleaned_reviews_data[col].isnull().sum())

listing_id 0
id 0
comments 0

## Treatment of non-english reviews

In [ ]:

# Identify review language
DetectorFactory.seed = 0

def lang(text):
  language = ""
  try:
    language = detect(text)
  except:
    language = 'undefined'
  return language

cleaned_reviews_data['langs'] = cleaned_reviews_data['comments'].apply(lambda x: lang(x))
cleaned_reviews_data.head()

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)

        listing_id  ...  langs
128037     4413032  ...     en
267336    14170174  ...     en
312201    17875133  ...     fr
371403    23165393  ...     en
73349      1723551  ...     de

[5 rows x 4 columns]

In [ ]:
cleaned_reviews_data.shape

(441, 4)

In [ ]:
# Drop non-english reviews
cleaned_reviews_data = cleaned_reviews_data[cleaned_reviews_data.langs == 'en']
cleaned_reviews_data.head()

        listing_id  ...  langs
128037     4413032  ...     en
267336    14170174  ...     en
371403    23165393  ...     en
117583     3902098  ...     en
21440       570753  ...     en

[5 rows x 4 columns]

In [ ]:
cleaned_reviews_data.shape

(349, 4)

## Normalization of text in reviews

In [ ]:
reviews_data = cleaned_reviews_en["comments"]

In [ ]:
# ignore reviews where review length == 1 like P,V, . 

single_character=[]
for r in reviews_data:
    if len(str(r)) > 1:
        single_character.append(r)
    else:
        single_character.append("")

In [ ]:
print(len(single_character))

349

In [ ]:
# remove Accented characters from text 

remove_Accented_characters=[]

for ri in single_character:
    ri=str(ri)
    s = ri.replace('â', '')
    text = unicodedata.normalize('NFD', s)\
       .encode('ascii', 'ignore')\
       .decode("utf-8")
    remove_Accented_characters.append(text)
    
# convert short forms to full forms
    
normalize=[]
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

for sf in remove_Accented_characters:
    sf=str(sf)
    sf=sf.lower()
    d = { "fab": "fabulous", "thx": "thanks","gud":"good","gr8":"great","iluvit":"i love it","gret":"great","wonderfull":"wonderful"}
    e=replace_all(sf, d)
    normalize.append(e)

In [ ]:
# ignore rows where only irregular english words come i.e row 13 and 14 

spell=[]
d = enchant.Dict("en_US")
for sp in normalize:
    sp=str(sp)
    sp=sp.lower()
    
    score=[]
    err = re.sub(r'[^\w\s]','',sp)
    word=err.split(" ")
    for w in word:
        if w != '':
            w1=w.lower()
            w2=w.upper()
            v=d.check(w)
            v1=d.check(w1)
            v2=d.check(w2)
            if v == False and v1 == False and v2 == False:
                sc=0
            if v == True or v1 == True or v2 == True:
                sc=1
            score.append(sc)
    suM=sum(score)
    if suM != 0:
        spell.append(sp)
    else:
        spell.append("non-english")

# Extraction of opinion units

In [ ]:
### ignore rows where only irregular english words come i.e row 13 and 14 

sentence=[]
reviews=[]
aspects=[]
 
for review in spell:
    review=str(review)
    doc = nlp(review)
    sub_list=[]
    for sent in doc.sents:
        a=sent.string.strip()
        io=(a,review)
        sub_list.append(io)
        
    sentence.append(sub_list)

 
for ty in sentence:
     
    for tz in ty:
        
        reviews.append(tz[1])
        aspects.append(tz[0])

In [ ]:
review_ = pd.DataFrame({'REVIEWS' : reviews,'OPINION_UNITS' : aspects})
review_.head()

                                             REVIEWS                                      OPINION_UNITS
0  we stayed a great weekend at eric and karens h...  we stayed a great weekend at eric and karens h...
1  we stayed a great weekend at eric and karens h...    karen welcomed us even late on our arrival day.
2  we stayed a great weekend at eric and karens h...  we rented them two very good bikes, the city i...
3  we stayed a great weekend at eric and karens h...  the location is really good, 20 min from the t...
4  we stayed a great weekend at eric and karens h...     10 min by bike, \nvery quiet area, living area

In [ ]:
words=[]
part_of_speech=["NOUN","ADV","ADJ","PROPN"]
helping_verb=["is","am","are","was","were","has","have","had","do","does","did","be"]
for rev in aspects:
    rev=str(rev)
    rev=rev.lower()
    doc = nlp(rev)
    # tokenize reviews and remove punctuation, stopwords and lemmatize 
    reviews = [(token.lemma_,token.tag_) for token in doc if not token.is_punct and (token.pos_ in part_of_speech or token.text == "no") and token.text not in helping_verb]
    words.append(reviews)

In [ ]:
review_['spacy_tag'] = words
review_.head()

                                             REVIEWS  ...                                          spacy_tag
0  we stayed a great weekend at eric and karens h...  ...  [(great, JJ), (weekend, NN), (eric, NNP), (kar...
1  we stayed a great weekend at eric and karens h...  ...  [(karen, NNP), (even, RB), (late, RB), (arriva...
2  we stayed a great weekend at eric and karens h...  ...  [(very, RB), (good, JJ), (bike, NNS), (city, N...
3  we stayed a great weekend at eric and karens h...  ...  [(location, NN), (really, RB), (good, JJ), (mi...
4  we stayed a great weekend at eric and karens h...  ...  [(min, NNP), (bike, NN), (very, RB), (quiet, J...

[5 rows x 3 columns]

# Convert Spacy tags to SentiWordNet accepted tags
* The POS tagger gives you a different tag than the one senti_synset accepts. Use the following to convert to synset notation.

In [ ]:
def penn_to_wn(tag):
    """
    Convert between the PennTreebank tags to simple Wordnet tags
    """
    if tag.startswith('J'):
        return wn.ADJ
    elif tag.startswith('N'):
        return wn.NOUN
    elif tag.startswith('R'):
        return wn.ADV
    elif tag.startswith('V'):
        return wn.VERB
    return None

# Calculate sentiment scores

## Read Positive and Negative Words from two text files

In [ ]:
with  open ('positive-words.txt','r', encoding='latin-1') as positive_file:
    positive_words=[p_word.strip() for p_word in positive_file]
with  open ('negative-words.txt','r', encoding='latin-1')  as negative_file:
    negative_words=[n_word.strip() for n_word in negative_file]

## For Sentiment Score use following four lexicon

##### SentiWordNet
https://github.com/aesuli/sentiwordnet

##### AFINN
https://pypi.org/project/afinn/

##### Setiment Vader
https://www.nltk.org/api/nltk.sentiment.html

##### Kaggle Text Files
Two Text Files https://www.kaggle.com/harshaiitj08/positive-and-negative-words#positive-words.txt

In [ ]:
score=[]
for u in words:
    sub_list=[]
    for word,tag in u:
        
        wn_tag = penn_to_wn(tag)
        
### Find synsets of word using wordnet

        synsets = wn.synsets(word, pos=wn_tag)
        if synsets == []:
            sentiment = 0.0

        synsets_word=[]
        for sets in synsets:
            word_search=re.search('(?P<word>(\w+)*)',sets.name())
            if word == word_search.group("word"):
                synset = sets
                synsets_word.append(synset)

        if synsets_word == []: 
            synset0_sentiment = 0.0

        if synsets_word != []: 
            ab=synsets_word[0]
            
### Calculate synset sentiment score

            swn_synset = swn.senti_synset(ab.name())
            synset0_sentiment = swn_synset.pos_score() - swn_synset.neg_score()

            if synset0_sentiment != 0.0:
                if word in ["fee","fees","hike","tourist","fairy","tale"]:
                    sub_list.append(0.0)

                    
                if word in ["not","no"]:
                    synset0_sentiment = -1.0
                
                sc=str(synset0_sentiment)

                if sc[0] == "-" and word in positive_words:
                    synset0_sentiment = 0.5
                elif sc[0] != "-" and word in negative_words:
                    synset0_sentiment = -0.5
                    sub_list.append(synset0_sentiment)
                
                else:
                    sub_list.append(synset0_sentiment)                 

### if synsets[0],synsets[1] score then 0 then calculate score by using AFINN 

        if synset0_sentiment == 0.0:
            if word in ["help","top","reward"]:continue
            af_score=af.score(word)
            if af_score != 0.0:
                sub_list.append(af_score)

                
### If synsets, and AFINN score = 0 then use positive and negative word read from files to score words

            if af_score == 0.0:
                if word in positive_words:
                    positive_score = 1.0
                    sub_list.append(positive_score)


                if word in negative_words:
                    negative_score = -1.0
                    sub_list.append(negative_score)

                    
### If word score is zero then use sentiment.vader to calculate score

                if word not in positive_words and word not in negative_words:
                    ss = senti.polarity_scores(word)  
                    if ss["pos"] > 0.0:
                        positive = 1.0
                        sub_list.append(positive)

                    if ss["neg"] > 0.0:
                        negative = -1.0
                        sub_list.append(negative)

                    if ss["neu"] > 0.0:
                        neutral = 0.000
                        sub_list.append(neutral)

                    if ss["pos"] == 0.0 and ss["neg"] == 0.0 and ss["neu"] == 0.0:
                        sub_list.append(0.0)

    sum_=sum(sub_list)
    score.append(sum_)

## Categorize score into Positive, Negative, Neutral

In [ ]:
review_polarity=[]
review_score=[]

for score_ in score:
     

    if score_ not in [0,0,0] and score_ > 0.0 :
         
        polarity = "Positive"
         
    if score_ < 0.0:
        polarity = "Negative"
    if score_ in [0,0.0]:
        polarity = "Neutral"
        

    review_score.append(score_)
    review_polarity.append(polarity)

In [ ]:
review_.insert(1, "Sentiment Score", review_score, True)    
review_.insert(1, "Sentiment Polarity", review_polarity, True)  
review_.head()

                                             REVIEWS  ...                                          spacy_tag
0  we stayed a great weekend at eric and karens h...  ...  [(great, JJ), (weekend, NN), (eric, NNP), (kar...
1  we stayed a great weekend at eric and karens h...  ...  [(karen, NNP), (even, RB), (late, RB), (arriva...
2  we stayed a great weekend at eric and karens h...  ...  [(very, RB), (good, JJ), (bike, NNS), (city, N...
3  we stayed a great weekend at eric and karens h...  ...  [(location, NN), (really, RB), (good, JJ), (mi...
4  we stayed a great weekend at eric and karens h...  ...  [(min, NNP), (bike, NN), (very, RB), (quiet, J...

[5 rows x 5 columns]

In [ ]:
review_.shape

(1542, 5)

# Join results with listing dataset

In [ ]:
review_with_polarity = review_

In [ ]:
# First I need the reviews = opinion_units
join_id = cleaned_reviews_data["comments"]

In [ ]:
## ignore reviews where review length == 1 like P,V, . 

single_character=[]
for r in join_id:
    if len(str(r)) > 1:
        single_character.append(r)
    else:
        single_character.append("")


### remove Accented characters from text 

remove_Accented_characters=[]

for ri in single_character:
    ri=str(ri)
    s = ri.replace('â', '')
    text = unicodedata.normalize('NFD', s)\
       .encode('ascii', 'ignore')\
       .decode("utf-8")
    remove_Accented_characters.append(text)
    
### convert short forms to full forms
    
normalize=[]
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

for sf in remove_Accented_characters:
    sf=str(sf)
    sf=sf.lower()
    d = { "fab": "fabulous", "thx": "thanks","gud":"good","gr8":"great","iluvit":"i love it","gret":"great","wonderfull":"wonderful"}
    e=replace_all(sf, d)
    normalize.append(e)

spell=[]
d = enchant.Dict("en_US")
for sp in normalize:
    sp=str(sp)
    sp=sp.lower()
    
    score=[]
    err = re.sub(r'[^\w\s]','',sp)
    word=err.split(" ")
    for w in word:
        if w != '':
            w1=w.lower()
            w2=w.upper()
            v=d.check(w)
            v1=d.check(w1)
            v2=d.check(w2)
            if v == False and v1 == False and v2 == False:
                sc=0
            if v == True or v1 == True or v2 == True:
                sc=1
            score.append(sc)
    suM=sum(score)
    if suM != 0:
        spell.append(sp)
    else:
        spell.append("non-english")

In [ ]:
cleaned_reviews_data['join_id'] = spell

In [ ]:
cleaned_reviews_data.head()

        listing_id  ...                                            join_id
128037     4413032  ...  we stayed a great weekend at eric and karens h...
267336    14170174  ...  anouk's home is a lovely apartment situated on...
371403    23165393  ...  very lovely flat with a nice garden.\ngood loc...
117583     3902098  ...  we were 11 girls and had a perfect weekend in ...
21440       570753  ...  we had a great time staying in the beautiful r...

[5 rows x 5 columns]

In [ ]:
# now merge cleaned_revies_data that has the ids with review_with_polarity which has the scores
new_df = review_with_polarity.merge(cleaned_reviews_data,left_on='REVIEWS',right_on='join_id')

In [ ]:
new_df.head()

                                             REVIEWS  ...                                            join_id
0  we stayed a great weekend at eric and karens h...  ...  we stayed a great weekend at eric and karens h...
1  we stayed a great weekend at eric and karens h...  ...  we stayed a great weekend at eric and karens h...
2  we stayed a great weekend at eric and karens h...  ...  we stayed a great weekend at eric and karens h...
3  we stayed a great weekend at eric and karens h...  ...  we stayed a great weekend at eric and karens h...
4  we stayed a great weekend at eric and karens h...  ...  we stayed a great weekend at eric and karens h...

[5 rows x 10 columns]

In [ ]:
sentiment_scores = new_df.groupby('listing_id', as_index=False)['Sentiment Score'].mean()

In [ ]:
sentiment_scores = sentiment_scores.rename(columns={'Sentiment Score': 'sentiment_score'})
sentiment_scores.head()

   listing_id  sentiment_score
0        2818         1.541667
1       55256         1.062500
2       68290         0.708333
3       68873         1.421875
4       75382         0.950000

## Merge result with listings dataset

In [ ]:
listings = pd.read_csv('listings.csv')

In [ ]:
new_listings = listings.merge(sentiment_scores,left_on='id',right_on='listing_id')

In [ ]:
new_listings.head()

      id                         listing_url  ...  listing_id sentiment_score
0   2818   https://www.airbnb.com/rooms/2818  ...        2818        1.541667
1  55256  https://www.airbnb.com/rooms/55256  ...       55256        1.062500
2  68290  https://www.airbnb.com/rooms/68290  ...       68290        0.708333
3  68873  https://www.airbnb.com/rooms/68873  ...       68873        1.421875
4  75382  https://www.airbnb.com/rooms/75382  ...       75382        0.950000

[5 rows x 76 columns]

In [ ]:
new_listings['polarity'] = new_listings['sentiment_score'].apply(lambda x: 'Positive' if x > 0 else ('Neutral' if x == 0 else 'Negative'))

In [ ]:
new_listings = new_listings.drop('listing_id', 1)

## Save the new dataframe

In [ ]:
#pickle
new_listings.to_pickle('new_listings.pickle')

In [52]:
#------------------------------ END OF CODE -----------------------------------#